
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  

  
  /* Contenido principal */
  main {
    padding-top:20px;
    background: #085088;
  }

  .title {
    justify-content: center;
  }

  .title h1 {
    margin: 0;
  }

  .product-info {
    border-radius: 2rem;
    background-color: white;
    padding: 20px 40px !important;
  }

  .product-image img {
    max-width: 50vw;
  }

  .product-details {
    border: 1px solid gray;
    border-radius: 0.8rem;
  }

  .product-details h1 {
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  .product-details p {
    margin: 0 0 10px;
  }

  .product-details strong {
    font-weight: bold;
  }

  .product-details img{
    width: 50px;
  }
  /* Preguntas frecuentes */
  .product-questions h2 {
    font-size: 24px;
    margin: 20px 0 10px;
  }
  .question {
    margin-bottom: 10px;
  }
  .question-title {
    font-weight: bold;
    margin: 0 0 5px;
  }
  .question-text {
    margin: 0;
  }

  
  /* Bloque pagos */
  .button {
    background-color: #085088;;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    border-radius: 1rem;
    border: 1px solid white;
    transition: background-color .2s, color .2s;
  }
  
  .button:hover {
    background-color: #1CA220;
  }

  .btns {
    text-align: center;
    color: #666;
  }

  #su { /* stock units */
    background-color: #085088;
    color: white;
  }

  #su:hover {
    background-color: #0f8be9;
  }

  .p-item {
    display: inline-flex;
    justify-content: space-between;
  }

  .product-pic img{
    margin-left: 5%;
    max-width: 600px;
  }

  .pmt-met { /*Payment method*/
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0.6rem 0;
  }

  .pmt-met img {
    margin: 0px 10px;
  }

  .info {
    padding: 0.6rem 0;
    align-items: center;
    border-top: 1px solid gray;
  }

  .info p{
    margin-bottom: 0;
  }

  .dropdown .btn{
    background-color: white;
    border: none;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.6rem;
    padding: 4px 2px;
  }

  #login {
    border-radius: 0 10px 0 10px;
    width: 100px;
    height: 38px;
    margin-right: 10px;
    background-color: #54dc9c;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
  }