@import url('https://fonts.googleapis.com/css?family-Rubik:wght@300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}
a{
    list-style-type: none;
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: white;
    position: sticky;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: .5rem;
    font-size: 0.85rem;
    width: 100%;
}
.boton-menu.active{
    background-color: white;
    color: #085088;
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before{
    content: '';
    position:absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 1rem 0 white;
}

.boton-menu.active::after{
    content: '';
    position:absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: 0.5rem;
    box-shadow: 0 -1rem 0 white;
}

.boton-carrito {
    margin-top: 2rem;
}






.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #085088;

}

.logo{
    font-weight: 400;
    font-size: 1.3rem;
}

.texto-footer{
    color: black;
    font-size: 0.90rem;
}

main{
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}
.titulo-principal{
    color: var(--clr-main);
    margin-bottom: 2rem;
}
.contendor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
    height: 150px;
    align-content: center;
}
.producto-detalle{
    background-color:#085088;
    color: white;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.producto-titulo{
    font-size: 1rem;
}
.agregar-producto{
    border: 0;
    background-color: white;
    color: #085088;
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid white;
    transition: background-color .2s, color .2s;
}

.container py-4 {
    background-color: white;
    color: white;

}
.agregar-producto:hover{
    background-color: #1CA220;
    color: white;
}

