/* Cart items and stored items */
main {
    margin-bottom: 2rem;
}
.cart-items h1{
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
}

.item-pic {
    padding: 0;
}

.cart-buttons button{
    margin-left: 1rem;
}

.cart-items_stored {
    padding: 2rem 0;
    border-bottom: 1px solid rgb(172, 172, 172);
}

.cart-items_stored img {
    padding: 0 1rem;
    width: 60%;
}

.cart-items {
    text-align: center;
    align-items: center;
}

.cart-item_delete img{
    padding: 0;
    width: 1.8rem;
}

.cart-info {
    border-top: 1px solid rgb(172, 172, 172);     
    border-bottom: 1px solid rgb(172, 172, 172);     
    padding-top: 8px;
}

.cart-title {
    padding-bottom: 0.6rem;
    text-align: center;
}

.cart-items_units {
    width: 2rem;
}

.stored {
    align-items: center;
}