/* Cart items and stored items */
main {
    border-radius: 2rem !important;
}
header {
    background-color: white;
    margin-bottom: 60px;
}

body {
    background-color: #085088 !important;
}

.disabled {
    display: none;
}

#cart-list {
    margin-bottom: 2rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 1rem;
    background-color: white;
}

.cart-items h1{
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
}

.item-pic {
    padding: 0;
}

.cart-buttons {
    margin-right: 1rem;
}

.cart-buttons button{
    margin-left: 1rem;
    align-items: center;
}

.cart-items_stored {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid rgb(172, 172, 172);
}

.cart-items_stored img {
    padding: 0 1rem;
    max-height: 110px;
}

.cart-items_stored:hover {
    background-color: whitesmoke;
}

.cart-items {
    text-align: center;
    align-items: center;
}

.cart-item_delete img{
    padding: 0;
    width: 1.8rem;
}

.cart-item_delete img:hover{
    background-color: rgb(219, 219, 219);
    border-radius: 1rem;
    cursor: pointer;
    width: 2.3rem;
}

.cart-info {
    border-top: 1px solid rgb(172, 172, 172);     
    border-bottom: 1px solid rgb(172, 172, 172);     
    padding-top: 8px;
    background-color: white;
    align-items: center;
    /* flex-wrap: wrap; */
}

.cart-title {
    padding: 0.6rem 0rem;
    text-align: center;
    background-color: whitesmoke;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}



.cart-items_units .btn {
    width: 2rem;
}

.cart-items_units .dropdown-menu {
    width: 2rem;

}

.stored {
    align-items: center;
    height: 200px;
}
