footer {
    background-color: rgb(248, 248, 248);
    border-top: 2px solid rgb(216, 216, 216);

}

footer img {
    
    width: 5%;
}

.footer .div {
    display: inline-block;
    justify-content: center;
}

.footer-info {
    text-align: center;
}

.footer-info article {
    padding: 4px 0px;
    font-size: 0.8rem;
}